<h1>this is the <%= @band.name %> edit page</h1>


<form action="<%= band_url %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label>Band name:
        <input type="text" name="band[name]" value="<%= @band.name %>">
    </label>

    <input type="submit" value="edit band!">
</form>