<h1> this is my band creation page </h1>

<form action="<%= bands_url %>" method="post">
    <label>Band Name: 
        <input type="text" name="band[name]">
    </label>

    <input type="submit" value="submit band name">
</form>